

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/poppins/poppins-v5-latin-100.html');
    /* IE9 Compat Modes */
    src: local('Poppins Thin'), local('Poppins-Thin'), url('../fonts/poppins/poppins-v5-latin-100d41d.html?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-101.html') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-102.html') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-103.html') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-104.html#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-300 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-v5-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'), url('../fonts/poppins/poppins-v5-latin-300d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-300.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'), url('../fonts/poppins/poppins-v5-latin-regulard41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-500 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-v5-latin-500.html');
    /* IE9 Compat Modes */
    src: local('Poppins Medium'), local('Poppins-Medium'), url('../fonts/poppins/poppins-v5-latin-500d41d.html?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-501.html') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-502.html') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-503.html') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-504.html#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-600 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-v5-latin-600.html');
    /* IE9 Compat Modes */
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('../fonts/poppins/poppins-v5-latin-600d41d.html?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-601.html') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-602.html') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-603.html') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-604.html#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-700 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-v5-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'), url('../fonts/poppins/poppins-v5-latin-700d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}


/* poppins-800 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins/poppins-v5-latin-800.eot');
    /* IE9 Compat Modes */
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url('../fonts/poppins/poppins-v5-latin-800d41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins/poppins-v5-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins/poppins-v5-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins/poppins-v5-latin-800.svg#Poppins') format('svg');
    /* Legacy iOS */
}

body {
    font-size: 15px;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    color: #2f2c36cc;
    background: #fff;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    color: #2f2c36;
    font-weight: 500;
    font-variant-ligatures: common-ligatures;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    line-height: 1.29;
    letter-spacing: 1px;
}

h2 {
    font-size: 22px;
    line-height: 1.29;
}

h3 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
}

h4 {
    font-size: 20px;
    line-height: 27px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    margin-bottom: 5px;
}

.nav-link {
    color: #333;
}

section {
    padding: 100px 0;
}

.bg-grey {
    background: #fafafa;
}


/* 2. header section starts here*/

.navbar-toggler {
    border: 1px solid rgba(255, 255, 255, .5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.fixed-top .nav-item a {
    transition: all .2s ease-in;
}

.fixed-top .nav-item a:hover {
    color: #000;
}

.fixed-top {
    padding: 30px 0;
}

.navbar-fixed-top .nav-item a:hover {
    color: #6eca04;
}

.navbar-fixed-top {
    animation-duration: 0.5s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

header {
    padding: 200px 0 100px;
}

header h1 {
    line-height: 1.29;
    margin-bottom: 20px;
    color: #333;
    font-weight: 300;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

header {
    background: #f5fafe;
}

.text-purple {
    color: #9378e4;
}

.text-pink {
    color: #ff94c5;
}

.text-green {
    color: #4bdf7b;
}

.bg-purple {
    background: #9378e4;
    color: #fff;
}

header {
    position: relative;
    height: 700px;
    background: #f9f7ff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    /* change the calc height to a percentage height to get alternate responsive behavior*/
}

header p {
    margin-bottom: 40px;
}

.landing-btn {
    border: 0;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    min-width: 150px;
    color: #FFFFFF;
    background-color: #a998e9;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: box-shadow 200ms ease-out;
}

.blue-btn {
    background-color: #3afe;
}

.dark-btn {
    background-color: #333;
}

.main-wrapper {
    margin-top: 5vw;
    background: #fff;
}

.action {
    padding: 30px 0;
    background: #f0f0ff;
}

.color-themes h3 {
    margin-bottom: 30px;
}

.color-themes img {
    margin-bottom: 20px;
}




/*begin features*/

#features h1 {
    text-align: center;
    margin-bottom: 35px;
}

#features .card i {
    font-size: 30px;
    margin-right: 10px;
    vertical-align: middle;
    color: #a998e9;
}

.card {
    background-color: #fff;
    border: none;
    box-shadow: -3px 2px 10px 2px rgba(56, 40, 77, .1);
    margin-bottom: 30px;
    border-radius: 6px;
}


/* 10.footer*/

footer {
    background: #f5fafe;
    padding: 60px 0;
}

footer h3 {
    color: #333;
    font-size: 24px;
    line-height: 1.29;
    margin-bottom: 20px;
}

footer p {
    color: rgba(0, 0, 0, .7);
}

footer ul.social-icons {
    padding: 0;
}

footer ul.social-icons li {
    list-style-type: none;
    display: inline-block;
}

footer ul.social-icons {
    padding: 10px 0;
}

footer ul.social-icons a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #262626;
    color: #333;
    text-decoration: none;
    border-radius: 50%;
    transition: .5s;
}

footer ul.social-icons a .fa {
    line-height: 36px;
    padding: 0px 12px;
}

footer ul.social-icons a:hover {
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

footer ul.address {
    list-style-type: none;
    padding: 0;
}

footer ul.address li {
    color: rgba(0, 0, 0, 0.7);
}

footer ul.address li .fa {
    margin-right: 10px;
}

footer ul.phone {
    list-style-type: none;
    padding: 0;
}

footer ul.phone li {
    color: rgba(00, 00, 00, 0.7);
}

footer ul.phone li .fa {
    margin-right: 10px;
}

footer ul.time {
    list-style-type: none;
    padding: 0;
}

footer ul.time li {
    color: rgba(0, 0, 0, 0.7);
}

footer ul.time li .fa {
    margin-right: 10px;
}


/*responsive css*/

@media (max-width: 992px) {
    .navbar-collapse {
        background: #fff;
    }
    .navbar-collapse .nav-link {
        color: #333;
    }
    .navbar-collapse .nav-link:hover {
        background: #fafafa;
    }
}