<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý sinh viên</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>


    <!-- Mirrored from demo.themekita.com/demo-millenium/millenium/examples/demo1/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Mar 2021 06:31:00 GMT -->

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Admin</title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!-- Fonts and icons -->
        <script src="javascripts/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                google: {
                    "families": ["Lato:300,400,700,900"]
                },
                custom: {
                    "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                    urls: ['stylesheets/css/fonts.min.css']
                },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/millenium.min.css">

        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link rel="stylesheet" href="stylesheets/demo.css">
    </head>

    <body>
        <div class="wrapper">
            <div class="main-header">

                <!-- Logo Header -->
                <div class="logo-header" data-background-color="purple">

                    <a href="/home" class="logo">
                        <img src="images/logo.png" width="70%" height="90%" alt="navbar brand" class="navbar-brand">
                    </a>
                    <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="icon-menu"></i>
                        </span>
                    </button>
                    <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="icon-menu"></i>
                        </button>
                    </div>
                </div>
                <!-- End Logo Header -->
                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-expand-lg" data-background-color="purple2">

                    <div class="container-fluid">
                        <div class="collapse" id="search-nav">
                            <form class="navbar-left navbar-form nav-search mr-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pr-1">
                                            <i class="fa fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input type="text" placeholder="Search ..." class="form-control">
                                </div>
                            </form>
                        </div>
                        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                            <li class="nav-item toggle-nav-search hidden-caret">
                                <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button"
                                    aria-expanded="false" aria-controls="search-nav">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown hidden-caret">
                                <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                    aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="images/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg"><img src="images/profile.jpg" alt="image profile"
                                                        class="avatar-img rounded"></div>
                                                <div class="u-text">
                                                    <h4>Chương Hoàng</h4>
                                                    <p class="text-muted">chuonghtps11594@fpt.edu</p><a
                                                        href="profile.html" class="btn btn-xs btn-secondary btn-sm">View
                                                        Profile</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">My Balance</a>
                                            <a class="dropdown-item" href="#">Inbox</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Account Setting</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Logout</a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link quick-sidebar-toggler">
                                    <i class="fa fa-th"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">

                        <ul class="nav nav-secondary">

                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Products</h4>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#type">
                                    <i class="fas fa-layer-group"></i>
                                    <p>Products type</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="type">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/listProduct">
                                                <span class="sub-item">List</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/product">
                                                <span class="sub-item">Add</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/product">
                                    <i class="fas fa-pen-square"></i>
                                    <p>Products</p>
                                </a>
                            </li>


                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Statistical</h4>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#">
                                    <i class="fas fa-layer-group"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#">
                                    <i class="fas fa-pen-square"></i>
                                    <p>Users</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="collapse" href="#">
                                    <i class="fas fa-pen-square"></i>
                                    <p>Revenue</p>
                                </a>
                            </li>


                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Other</h4>
                            </li>

                            <li class="nav-item">
                                <a data-toggle="collapse" href="#email">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p>Email</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="email">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="maps/googlemaps.html">
                                                <span class="sub-item">Inbox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="maps/fullscreenmaps.html">
                                                <span class="sub-item">Email Compose</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="maps/jqvmap.html">
                                                <span class="sub-item">Email Detail</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            <li class="nav-item">
                                <a data-toggle="collapse" href="#messages-app-nav">
                                    <i class="far fa-paper-plane"></i>
                                    <p>Messages App</p>
                                </a>
                            </li>


                            <li class="nav-item">
                                <a data-toggle="collapse" href="#maps">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p>Maps</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="maps">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="maps/googlemaps.html">
                                                <span class="sub-item">Google Maps</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="maps/fullscreenmaps.html">
                                                <span class="sub-item">Full Screen Maps</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="maps/jqvmap.html">
                                                <span class="sub-item">JQVMap</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="calendar.html">
                                    <i class="far fa-calendar-alt"></i>
                                    <p>Calendar</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->



            <!--   Core JS Files   -->
            <script src="javascripts/core/jquery.3.2.1.min.js"></script>
            <script src="javascripts/core/popper.min.js"></script>
            <script src="javascripts/core/bootstrap.min.js"></script>

            <!-- jQuery UI -->
            <script src="javascripts/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="javascripts/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

            <!-- jQuery Scrollbar -->
            <script src="javascripts/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

            <!-- Moment JS -->
            <script src="javascripts/plugin/moment/moment.min.js"></script>

            <!-- Chart JS -->
            <script src="javascripts/plugin/chart.js/chart.min.js"></script>

            <!-- jQuery Sparkline -->
            <script src="javascripts/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

            <!-- Chart Circle -->
            <script src="javascripts/plugin/chart-circle/circles.min.js"></script>

            <!-- Datatables -->
            <script src="javascripts/plugin/datatables/datatables.min.js"></script>

            <!-- Bootstrap Notify -->
            <script src="javascripts/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

            <!-- Bootstrap Toggle -->
            <script src="javascripts/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

            <!-- jQuery Vector Maps -->
            <script src="javascripts/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="javascripts/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

            <!-- Google Maps Plugin -->
            <script src="javascripts/plugin/gmaps/gmaps.js"></script>

            <!-- Dropzone -->
            <script src="javascripts/plugin/dropzone/dropzone.min.js"></script>

            <!-- Fullcalendar -->
            <script src="javascripts/plugin/fullcalendar/fullcalendar.min.js"></script>

            <!-- DateTimePicker -->
            <script src="javascripts/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>

            <!-- Bootstrap Tagsinput -->
            <script src="javascripts/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

            <!-- Bootstrap Wizard -->
            <script src="javascripts/plugin/bootstrap-wizard/bootstrapwizard.js"></script>

            <!-- jQuery Validation -->
            <script src="javascripts/plugin/jquery.validate/jquery.validate.min.js"></script>

            <!-- Summernote -->
            <script src="javascripts/plugin/summernote/summernote-bs4.min.js"></script>

            <!-- Select2 -->
            <script src="javascripts/plugin/select2/select2.full.min.js"></script>

            <!-- Sweet Alert -->
            <script src="javascripts/plugin/sweetalert/sweetalert.min.js"></script>

            <!-- Millenium JS -->
            <script src="javascripts/millenium.min.js"></script>

            <!-- Millenium DEMO methods, don't include it in your project! -->
            <script src="javascripts/setting-demo.js"></script>
            <script src="javascripts/demo.js"></script>

            <script>
                $('#lineChart').sparkline([102, 109, 120, 99, 110, 105, 115], {
                    type: 'line',
                    height: '70',
                    width: '100%',
                    lineWidth: '2',
                    lineColor: '#177dff',
                    fillColor: 'rgba(23, 125, 255, 0.14)'
                });

                $('#lineChart2').sparkline([99, 125, 122, 105, 110, 124, 115], {
                    type: 'line',
                    height: '70',
                    width: '100%',
                    lineWidth: '2',
                    lineColor: '#f3545d',
                    fillColor: 'rgba(243, 84, 93, .14)'
                });

                $('#lineChart3').sparkline([105, 103, 123, 100, 95, 105, 115], {
                    type: 'line',
                    height: '70',
                    width: '100%',
                    lineWidth: '2',
                    lineColor: '#ffa534',
                    fillColor: 'rgba(255, 165, 52, .14)'
                });
            </script>
            <script type="text/javascript" src="../../themera.net/embed/themera5b02.js?id=73666"></script>
    </body>

    <!-- Mirrored from demo.themekita.com/demo-millenium/millenium/examples/demo1/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Mar 2021 06:31:39 GMT -->

</html>