<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ANGULAJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
  

</head>

<body>
    <div class="container" ng-app="myapp">
        <div ng-controller="myctrl">
            <div ng-show="loginOK == 0">
                <h4>LOGIN</h4>
                <form action="">
                    <div class="form-group">
                        <label for="">Username:</label>
                        <input type="text" ng-model="user.email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">Password:</label>
                        <input type="text" ng-model="user.password" class="form-control" />
                    </div>

                    <div>
                        <button type="button" ng-click="login()" class="btn btn-primary">Login</button>
                        <button type="button" ng-click="register()" class="btn btn-primary">Register</button>

                    </div>
                </form>
            </div>
            <div ng-show="loginOK == 1">
                <h1>Nhân Viên</h1>
                <form action="">
                    <div class="form-group">
                        <label for="">Id:</label>
                        <input type="text" ng-model="student.id" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">Name:</label>
                        <input type="text" ng-model="student.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="text" ng-model="student.email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">GioiTinh:</label>
                        <input type="text" ng-model="student.sex" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="">Address:</label>
                        <input type="text" ng-model="student.address" class="form-control" />
                    </div>
                    <div>
                        <button type="button" ng-click="insert()" ng-show="index == -1" class="btn btn-primary">Add</button>
                        <button type="button" ng-click="update()" ng-hide="index == -1" class="btn btn-primary">Edit</button>
                        <button type="button" ng-click="delete()" ng-hide="index == -1" class="btn btn-primary">Delete</button>
                        <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                        <button type="button" ng-click="clear()" class="btn btn-primary">Clear</button>
                    </div>
                </form>
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>GioiTinh</th>
                        <th>Address</th>
                        <th></th>


                    </tr>
                    <tr ng-repeat="u in nhanvien">
                        <td>{{u.id}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.sex}}</td>
                        <td>{{u.address}}</td>


                        <td>
                            <a href="#" ng-click="edit($index)">Edit</a>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
    </div>

    <script>
        var list = [];
        var socket = io.connect('http://192.168.1.8:3002');
        socket.on('connect', function(data) {

            socket.emit('join', 'Hello World from client');

            socket.emit('getStudent', 'Client getStudent');



            socket.on('getStudent', function(data) {

                list.push(data);


            });
        });


        //AngularJs
        var app = angular.module("myapp", []);

        app.controller("myctrl", function($scope) {
            $scope.loginOK = 0;

            $scope.user = {
                name: "",
                email: "",
                password: "",
             
            }
            $scope.student = {
                id: "",
                name: "",
                email: "",
                sex: "",
                address: ""
            };

            $scope.nhanvien = list;

            $scope.index = -1;

            $scope.login = function() {
                var socket = io.connect('http://10.82.64.162:3002');
                socket.on('connect', function(data) {
                    socket.emit('login', $scope.user.email, $scope.user.password);

                    socket.on('login', function(data) {
                        if (data == true) {
                            $scope.loginOK = 1;


                        } else {

                            alert("Dang nhap that bai");
                        }

                    });
                });
            }
            $scope.register = function() {
                var socket = io.connect('http://10.82.64.162:3002');
                socket.on('connect', function(data) {
                    socket.emit('register', $scope.user.name, $scope.user.password, $scope.user.email);

                    socket.on('register', function(data) {
                        if (data == true) {
                            alert("Dang ki thanh cong");

                        } else {

                            alert("Dang ki that bai");
                        }

                    });
                });
            }

            $scope.insert = function() {

                $scope.nhanvien.push($scope.student);
                $scope.clear();
                var i = $scope.nhanvien.length - 1;
                var socket = io.connect('http://10.82.64.162:3002');
                socket.on('connect', function(data) {


                    socket.emit('addStudent', $scope.nhanvien[i].id, $scope.nhanvien[i].name, $scope.nhanvien[i].email,  $scope.nhanvien[i].sex, $scope.nhanvien[i].address);

                    socket.on('addStudent', function(data) {
                        if (data == true) {
                            alert("Them thanh cong");

                        } else {

                            alert("Them that bai");
                        }

                    });
                });

            }



            $scope.clear = function() {
                $scope.student = {};
                $scope.index = -1;


            };


            $scope.update = function() {
                $scope.nhanvien[$scope.index] = $scope.student;
            }
            $scope.delete = function() {
                $scope.nhanvien.splice($scope.index, 1);
                $scope.clear();
            }
            $scope.cancel = function() {
                if ($scope.index == -1) {
                    $scope.clear();
                } else {
                    $scope.edit($scope.index);
                }
            }
            $scope.edit = function(index) {
                $scope.index = index;
                $scope.student = $scope.nhanvien[index];
            }
        });
    </script>
</body>

</html>