<form method="post" action="/insert">
    <div>
        <label>MSSV :</label>
        <input type="text" name="mssv">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>Tên :</label>
        <input type="text" name="ten">
    </div>
    <div>
        <label>Tuổi :</label>
        <input type="text" name="tuoi">
    </div>
    <div>
        <button type="submit">insert</button>
    </div>

</form>