<%- include('include/_header') %>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-secondary-gradient">
                <div class="page-inner pt-5 pb-5">
                    <h2 class="text-white pb-2">Welcome back Chương!</h2>
                    <h5 class="text-white op-7 mb-2">Yesterday I was clever, so I wanted to change the world. Today
                        I am wise, so I am changing myself.</h5>
                </div>
            </div>
            <div class="page-inner mt--5">
                <div class="row row-card-no-pd mt--2">
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-chart-pie text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-stats">
                                        <div class="numbers">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-coins text-success"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-stats">
                                        <div class="numbers">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-error text-danger"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-stats">
                                        <div class="numbers">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="card card-stats card-round">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="icon-big text-center">
                                            <i class="flaticon-twitter text-primary"></i>
                                        </div>
                                    </div>
                                    <div class="col-7 col-stats">
                                        <div class="numbers">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h2>BIỂU ĐỒ SO SÁNH SỐ LƯỢNG SINH VIÊN MỖI NGÀNH</h2>
                                <div class="card-head-row">

                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-container" style="min-height: 375px">
                                </div>
                                <div id="myChartLegend"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-secondary">
                            <div class="card-header">

                            </div>
                            <div class="card-body pb-0">
                                <div class="mb-4 mt-2">
                                </div>
                                <div class="pull-in">

                                    <canvas id="dailySalesChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="card card-primary bg-primary-gradient">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="cntt" value="<%= cntt %>">
                <input type="hidden" id="qtks" value="<%= qtks %>">
                <input type="hidden" id="mkt" value="<%= mkt %>">
                <input type="hidden" id="hdvdl" value="<%= hdvdl %>">
                <input type="hidden" id="tcsk" value="<%= tcsk %>">
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chartCntt = document.getElementById('cntt').value;
                    var chartQtks = document.getElementById('qtks').value;
                    var chartMkt = document.getElementById('mkt').value;
                    var chartHdvdl = document.getElementById('hdvdl').value;
                    var chartTcsk = document.getElementById('tcsk').value;
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Công nghệ thông tin', 'Quản trị khách sạn', 'Marketting', 'Hướng dẫn viên du lịch', 'Tổ chức sự kiện'],
                            datasets: [{
                                label: '# of Votes',
                                data: [chartCntt, chartQtks, chartMkt, chartHdvdl, chartTcsk],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>