<%- include('include/_header') %>
    <div class="main-panel">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="ard-fooer" class="card" ng-controller="myController">
                                <div class="card-header">
                                    DANH SÁCH SINH VIÊN
                                </div>
                                <form action="/listProduct" method="POST">
                                    <div class="card-body">
                                        <hr>
                                        <table class=" table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <a href="#" ng-click="sortType ='tensp'">
                                                            Mã số sinh viên
                                                            <span ng-show="sortType == 'tensp'"
                                                                class="fa fa-caret-down"></span>
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a href="#" ng-click="sortType ='tensp'">
                                                            Tên
                                                            <span ng-show="sortType == 'tensp'"
                                                                class="fa fa-caret-down"></span>
                                                        </a>
                                                    </th>
                                                    <th>
                                                        <a href="#" ng-click="sortType ='dongia'">
                                                            Email
                                                            <span ng-show="sortType == 'tensp'"
                                                                class="fa fa-caret-down"></span>
                                                    </th>
                                                    <th>Ngành</th>
                                                    <th>Giới tính</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Chỉnh sửa</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < sinhViens.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= sinhViens[i].mssv %>
                                                        </td>
                                                        <td>
                                                            <%= sinhViens[i].ten %>
                                                        </td>
                                                        <td>
                                                            <%= sinhViens[i].email %>
                                                        </td>
                                                        <td>
                                                            <%= sinhViens[i].nganh %>
                                                        </td>
                                                        <td>
                                                            <%= sinhViens[i].gioiTinh %>
                                                        </td>
                                                        <td>
                                                            <a href="/updateProduct?id=<%= sinhViens[i]._id%>"
                                                                class="btn border-shadow update">
                                                                <span class="text-gradient"><i
                                                                        class="fas fa-pencil-alt"></i></span>
                                                            </a>
                                                            <a class="btn border-shadow delete"
                                                                href="/deleteProduct?id=<%= sinhViens[i]._id%>">
                                                                <span class="text-gradient"><i
                                                                        class="fas fa-times"></i></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>