<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from divine.punegetonline.com/login2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Mar 2021 06:29:37 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stylesheets/plugins/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/css/metisMenu.css">
    <link rel="stylesheet" href="stylesheets/css/colors/default-custom.css">
    <title>Login</title>
</head>

<body class="login-page">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="a">
    </div>
    <div class="login-card">
        <div class="login-screen">
            <div class="app-title">
                <h1 class="text-center">Log in to Divine</h1>
            </div>
            <div class="login-form">
                <form action="/submit" method="post" id="login">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="emailAdmin"
                            aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="passwordAdmin"
                            placeholder="Password">
                    </div>
                    <div class="form-group ">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember Me</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn-login d-block" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="javascripts/jquery-3.2.1.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/metisMenu.js"></script>
    <script src='javascripts/main.js'></script>
</body>


<!-- Mirrored from divine.punegetonline.com/login2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Mar 2021 06:29:37 GMT -->

</html>