<%- include('include/_header') %>
    <div class="main-panel">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add Product</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Example file input</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>

                                    <form action="/product/submit" method="post" id="addProduct">
                                        <label for="password">Họ và tên:</label>
                                        <input type="text" class="form-control" name="nameInput" placeholder="Nhập tên">

                                        <div class="form-group">
                                            <label for="email2">Mã số sinh viên</label>
                                            <input type="text" class="form-control" name="mssvInput"
                                                placeholder="Nhập MSSV">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Email</label>
                                            <input type="email" class="form-control" name="emailInput"
                                                placeholder="Email">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Ngành</label>
                                            <select class="form-control" name="nganhInput">
                                                <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                                                <option value="Quản trị khách sạn">Quản trị khách sạn</option>
                                                <option value="Marketting">Marketting</option>
                                                <option value="Hương dẫn hiên du lịch">Hương dẫn hiên du lịch
                                                </option>
                                                <option value="Tổ chức sự kiện">Tổ chức sự kiện</option>
                                            </select>
                                        </div>

                                        <div class="form-check">
                                            <label>Gender</label><br />
                                            <label class="form-radio-label">
                                                <input class="form-radio-input" type="radio" name="gioiTinhInput"
                                                    value="Nam" checked="">
                                                <span class="form-radio-sign">Nam</span>
                                            </label>

                                            <label class="form-radio-label ml-3">
                                                <input class="form-radio-input" type="radio" name="gioiTinhInput"
                                                    value="Nữ">
                                                <span class="form-radio-sign">Nữ</span>
                                            </label>
                                        </div>

                                        <button class="btn btn-success" type="submit">Submit</button>
                                        <button class="btn btn-danger">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>